h1{
    color:orangered;
    font-size: 20px;
    text-align:center;
    font-style:inherit;
    font-family: Arial, Helvetica, sans-serif;
}
img{
    display :block;
    margin : auto;
}
h2{
    color: rgb(8, 8, 110);
    font-size: 15px;
    text-align: center;
    font-style:inherit;
    font-family: Arial, Helvetica, sans-serif;
}
h3{
    color:rgb(8, 8, 110);
    font-size: 14px;
    text-align: center;
    font-style: inherit;
    font-family: Arial, Helvetica, sans-serif;
}
h4{ 
    color:orangered;
    font-size: 20px; 
    text-align:center;
    font-style:inherit; 
    font-family: Arial, Helvetica, sans-serif;
}
.exp{
    color:white;
    font-size: 20px;
    background-color: rgb(7, 70, 7);
    font-family: Arial, Helvetica, sans-serif;
    font-weight:400;
    padding: 25px;
}
.madiv{
    color:rgb(8, 8, 110);
    font-size:19px ;
    text-align: left;
    font-weight:450;
    background-color: rgb(185, 199, 204);
    font-family: Arial, Helvetica, sans-serif;
    padding:20px;
}
h5{   
     color:orangered;
    font-size: 20px; 
    text-align:center;
    font-style:inherit; 
    font-family: Arial, Helvetica, sans-serif;

}
.titre{   
    color:orangered;
   font-size: 18px; 
   text-align:center;
   font-style:inherit; 
   font-family: Arial, Helvetica, sans-serif;

}
.section{
    color:rgb(8, 8, 110);
    font-size: 15px;
    text-align: center;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}
.span{    
    color:orangered;
    font-size: 18px; 
    text-align:center;
    font-style:inherit; 
    font-family: Arial, Helvetica, sans-serif;

}
.contact{
    
    color:white;
    font-size: 16px;
    text-align: center;
    background-color: rgb(7, 70, 7);
    font-family: Arial, Helvetica, sans-serif;
    padding: 25px;
}
.foot{    
    color:orangered;
    font-size: 17px; 
    text-align:center;
    font-weight: bolder; 
    font-family: Arial, Helvetica, sans-serif;

}
body{
    background-color:#f6f5f1 ;
    margin: 5%;

}

ul{
    list-style-type: '-';
    text-align: left;
    line-height: 35px;
}





